.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-container {
  display: flex;
  justify-content: center;
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px 0 10px;
}

.filter > input {
  margin-top: 5px;
  text-align: center;
}

.movie-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 40vw;
}

.movie-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
}

.movie-form button {
  margin: 10px 0 0;
  width: fit-content;
}

.movie-form select {
  width: 100px;
}

.movie-form form > label {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.movie-form form > label > input, .movie-form select {
  margin-top: 5px;
}

.current-movie {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-card {
  height: 160px;
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}

.movie-card * {
  margin: 5px;
  color: black;
}